/*
COLORES:
1) AZUL FUERTE: #074f73;
2) AZUL BAJO: #06A3D3;
3) VERDE AQUA: #3FDB9D;
4) NEGRO: #000000;
5) HUESO: #EDF5E0;
6) BLANCO: #FFFFFF;
 */

/*Lineas generales*/
.list-none{
	/*text-decoration: none;*/
}
*{
	margin: 0;
}

/*END Lineas generales*/
body{
	overflow-x: hidden;
	background: #EDF5E0;

}
header{
	background: #000000;
	height: 190px;
}
nav{
	background: transparent;
	width: 100%;
	height: 80px;
	
}
li{
	height: 48px; 
	background: #428bca;
	-webkit-transform: skew(25deg);
	-moz-transform: skew(25deg);
	-ms-transform: skew(20deg);
	-o-transform: skew(20deg);
	transform: skew(20deg);
	padding-top: 13px;
	text-align: center;
	border-left: 2px #ffffff solid;
	margin-left: -4px;
}
nav ul{
	margin: auto;
	width: 1100px;
	height: 70px;
}

nav ul li{
	list-style: none;
	display: inline-block;
	font-size: 25px;
	width: 150px;
}
nav ul li a:link, a:visited{
	text-decoration: none;
	color: #ffffff;
}
li:hover{
	background: #074f73;
}
.menu-fixed{
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	max-width: 1000px;
	box-shadow: 0px 4px 3px rgba(0,0,0,.5);
}
section{
	background: #EDF5E0;
	height: 900px;
	margin: auto;
}
footer{
	background: #074f73;
	height: 170px;
}
/*header*/

#logo-princ{
	width: 200px;
	height: 150px;
	margin-top: 10px;
	margin-left: 30px;
}
#banner-d{
	position: absolute;
	display: inline-block;
	vertical-align: top;
	left: 62%;
	width: 500px;
	height: 150px;
}
#btn-princ{
	background: #074f73;
	color: #ffffff;
	display: block;
	width: 300px;
	height: 40px;
	display: flex;
	justify-content: center;
	margin: auto;
	border-radius: 0px 0px 10px 10px;
	text-decoration: none;
	font-size: 1.5em;
}
.direccion, .Tel{
	display: block;
	margin-right: 15px;
	text-align: right;
}
.direccion{
	font-size: 1.5em;
	margin-top: 20px;
	text-decoration: none;
}
.direccion:hover{
	color: gray;
}
.Tel{
	text-decoration: none;
	font-size: 1.8em;
	margin-top: 10px;
}
.Tel:hover{
	color:gray;
}
.icon{
	margin-top: 10px;
	text-align: right;
	margin-right: 15px;
}
.ico-fab{
	height: 30px;
}


