
/*COLORES:
1) AZUL FUERTE: #074f73;
2) AZUL BAJO: #06A3D3;
3) VERDE AQUA: #3FDB9D;
4) NEGRO: #000000;
5) HUESO: #EDF5E0;
6) BLANCO: #FFFFFF;*/
 


@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}
/*Generales*/

/* End Generales*/

body{
    background: #ecf0f1;
    font-family: 'Roboto', sans-serif;
    padding-top: 242px;
    /*transition: padding-top 0.5s ease;*/
    margin-left: 0;
}

header{
    width: 100%;
    height: 250px;
    background: #074f73;
    position: fixed;
    top: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: 999;
}
header a{
    font-family: oranienbaum;
    color: #EDF5E0;
}
header h1{
    font-size: 42px;
    color: white;
    line-height: 230px;
    font-weight: 300;
    transition: all 0.3s ease;
}
header h1 i{
    font-weight: bold;
    text-transform: uppercase;
}
header nav{
    position: absolute;
    bottom: -6px;
    height: 60px;
    width: 100%;
    z-index: 99;
}
/*para poder editar el texto de el menu se debe de aplicar los estilos directamente a la etiqueta "a"*/
/*li es el que tiene la forma de trapezoide*/
nav li{
    height: 200px;
    width: 200px;
    background: #06A3D3;
    display: inline-block;
    clip-path: polygon(0 0, 85% 0, 100% 27%, 15% 27%);
    margin-left: -33px;
    border-left: 1px solid white;
}

header nav a{
    color: #000000;
    display: inline-block;1
    line-height: 1;
    text-decoration: none;
    font-family: oranienbaum;
    font-size: 25px;
}
header nav li:hover{
    background: #074f73;
    color: #ffffff;
}
header nav li a:hover{
    color: #EDF5E0;
}
header img#logo-princ{
    /*margin-top: -215px;*/
    margin-left: -15px;
    width: 1364px;
    float: left;
}
header div.icon img{
    height: 30px;
    padding-left: 10px;
}
nav{
    text-align: center;
}
#S_Mapa, p {
    font-family: 'Montserrat', sans-serif;
}
#img-banner{
    width: 100%;
    height: 480px;
}
#S_Mapa{
    margin-top: -10px;
    background: rgba(6,163,211,1);
    background: -moz-linear-gradient(left, rgba(6,163,211,1) 0%, rgba(6,163,211,1) 14%, rgba(7,79,115,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(6,163,211,1)), color-stop(14%, rgba(6,163,211,1)), color-stop(100%, rgba(7,79,115,1)));
    background: -webkit-linear-gradient(left, rgba(6,163,211,1) 0%, rgba(6,163,211,1) 14%, rgba(7,79,115,1) 100%);
    background: -o-linear-gradient(left, rgba(6,163,211,1) 0%, rgba(6,163,211,1) 14%, rgba(7,79,115,1) 100%);
    background: -ms-linear-gradient(left, rgba(6,163,211,1) 0%, rgba(6,163,211,1) 14%, rgba(7,79,115,1) 100%);
    background: linear-gradient(to right, rgba(6,163,211,1) 0%, rgba(6,163,211,1) 14%, rgba(7,79,115,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06a3d3', endColorstr='#074f73', GradientType=1 );
}
#S_Mapa h4{
    display: inline-block;
    vertical-align: top;
    width: 45%;
    font-size: 1.3em;
    text-align: center;
    margin: 100px 0px 0px 20px;
}
#S_Mapa img{
    width: 580px;
    height: 280px;
    margin: 50px 50px 50px 50px;
}
#sucursales{
    width: 30%;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
}
.lin-v{
    margin-left: 250px;
    margin: 90px 0px 50px 50px;
    height: 170px;
}
.ico-g{
    display: inline-block;
    vertical-align: top;
    margin: 100px 0px 0px 80px;
}
#sucursales h5{
    font-family: oranienbaum;
    font-size: 1.9em;
    display: inline-block;
    vertical-align: top;
    margin: 150px 0px 0px -110px;
    color: #06A3D3;
}
#sucursales a{
    font-family: oranienbaum;
    font-size: 1.8em;
    display: inline-block;
    vertical-align: top;
    margin: -118px 0px 0px 65px;
    text-decoration: none;
    color: #06A3D3;
}
#sucursales a:hover{
    color: #074f73;
}
section div{
    display: inline-block;
    width: 48%;
    vertical-align: top;
}
/*section div img{
    width: 97%;
}*/

/*slider1*/
.reviews div{
    display: inline-block;
    vertical-align: top;
    background: transparent url(../img/blockquote.png) no-repeat scroll 10px 10px;
    margin-bottom: 50px;
}
.slider2{
    margin: auto;
    overflow: hidden;
    width: 50%;
    -webkit-box-shadow: 11px 10px 23px 14px rgba(212,212,212,1);
    -moz-box-shadow: 11px 10px 23px 14px rgba(212,212,212,1);
    box-shadow: 11px 10px 23px 14px rgba(212,212,212,1);
}
.slider2 ul{
    display: flex;
    padding:0;
    width: 400%;
    height: 333px;
    list-style: none;
    animation: cambio 20s infinite;
    animation-direction: normal;
}
.slider li{
    width: 100%;
    
}
.slider2 p{
    width: 93%;
    text-align: center;
    margin:70px 20px 20px 20px;
    font-size: 1.5em;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-top:100px;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
/*slider1*/
#provedores img{
    width: 280px;
    height: 100px;
    margin: 0px 50px 50px 20px;
}
#dell{
     width: 120px !important;
    height: 110px !important;
    margin-left: 80px !important;
}
h2{
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 2;
    color: #2c3e50;
}
p{
    margin-bottom: 2rem;
    line-height: 2;
    color: #7f8c8d;
}
.wrapper{
    max-width: 800px;
    margin: 0 auto;
}
body.sticky-header{
    padding-top: 100px;
}
body.sticky-header header{
    height: 60px;
    background: transparent;
}
.display-none #logo-princ{ 
    display: none;
 }
body.sticky-header header h1{
    transform: scale(0, 0);
}
footer{
    background: url(../img/Footer/bg-footer.png);
    height: 250px;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-bottom: -10px;

}
#banner-d{
    position: absolute;
    display: inline-block;
    vertical-align: top;
    left: 62%;
    width: 500px;
    height: 150px;
}
#btn-princ{
    background: #06A3D3;
    color: #ffffff;
    display: block;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    text-decoration: none;
    font-size: 1.5em;
}
.direccion, .Tel{
    display: block;
    margin-right: 15px;
    text-align: right;
}
.direccion{
    font-size: 1.5em;
    margin-top: 20px;
    text-decoration: none;
}
.direccion:hover{
    color: gray;
}
.Tel{
    text-decoration: none;
    font-size: 1.8em;
    margin-top: 10px;
}
.Tel:hover{
    color:gray;
}
.icon{
    margin-top: 10px;
    text-align: right;
    margin-right: 15px;
}
/*Footer*/
#logo-footer{
    margin-top: 55px;
    margin-left: 30px;
    width: 200px;
}
#alin-r{
     position: absolute;
    display: inline-block;
    vertical-align: top;
    left: 62%;
    width: 500px;
    height: 250px;
    text-align: center;
}
footer h3{
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 45px;
    font-family: oranienbaum;
}
footer  h5{
    margin-top: 10px;
    font-size: 24px;
    font-family: oranienbaum;
    margin-bottom: 10px;
}
/*End Footer
/*NOSOTROS*/
#nosotros img{
    width: 140%;
    height: 500px;
    margin-top: -10px;
    margin-left: -50px !important;
    display: inline-block;
}
#nosotros div p{
    display: inline-block;
    text-align: center;
    margin-left: 50px;
    color: #000000;
    font-size: 1.2em;
}
#nosotros div h1{
    margin: 15% 0% 5% 48%;
    font-family: oranienbaum;
    font-size: 2.5em;
}
.txt_gen{
    margin: 15% 0% 5% 35% !important;
    font-family: oranienbaum;
    font-size: 2.5em;
}
#list-valores ul{
    margin-left: 100px;
    list-style-type: square;
    font-family: oranienbaum;
    font-size: 1.8em;
}
/*Carrusel*/

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}
.slider {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, #ecf0f1 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}


/*Carrusel*/



/*NOSOTROS*/
/*SERVICIOS*/
.content{
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.serv{
    width: 1200px;
    height: 900px;
    margin:auto;
    margin-top: 50px;
}

.serv article img{
    margin-left: 100px;
    margin-top: 80px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px gray;
}
.serv article:hover{
    background: #ffffff;
}

/*CARD*/
#cont1{
    height: 1000px
}
#cont2{
    height: 1370px;
}
.middle{
    position: absolute; /* texto encima de la imagen*/
    top: 80%; /* centrar en el centro del html*/
    left: 25%;
    transform: translate(-50%, -50%);
}
.middle3{
    position: absolute; /* texto encima de la imagen*/
    top: 150%; /* centrar en el centro del html*/
    left: 25%;
    transform: translate(-50%, -50%);
}
.middle4{
    position: absolute; /* texto encima de la imagen*/
    top: 150%; /* centrar en el centro del html*/
    left: 75%;
    transform: translate(-50%, -50%);
}
.middle2{
    position: absolute; /* texto encima de la imagen*/
    top: 80%; /* centrar en el centro del html*/
    left: 75%;
    transform: translate(-50%, -50%);
}
.middle5{
    position: absolute; /* texto encima de la imagen*/
    top: 210%; /* centrar en el centro del html*/
    left: 50%;
    transform: translate(-50%, -50%);
}
.texto1{
    position: absolute; /* texto encima de la imagen*/
   padding-left: 15px;
   padding-right: 15px;
}
.texto1 h2{
  margin: 10px 0px 0px -15px !important;
  color: #ffffff;
}
.texto1 p{
    font-size: .9em;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 1rem !important;
    color: #ffffff;
}
.card{
    cursor: pointer;
    width: 471px;
    height: 325px;
    
}
.front, .back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
    border-radius: 15px;
    box-shadow: 10px 10px 10px gray;
}
.front img{
    height: 100%;
    width: 100%;
}
.front{
    transform: perspective(600px) rotateY(0deg);
}
.back{
    background: rgba(6,163,211,1);
    background: -moz-linear-gradient(left, rgba(6,163,211,1) 0%, rgba(6,163,211,1) 14%, rgba(7,79,115,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(6,163,211,1)), color-stop(14%, rgba(6,163,211,1)), color-stop(100%, rgba(7,79,115,1)));
    background: -webkit-linear-gradient(left, rgba(6,163,211,1) 0%, rgba(6,163,211,1) 14%, rgba(7,79,115,1) 100%);
    background: -o-linear-gradient(left, rgba(6,163,211,1) 0%, rgba(6,163,211,1) 14%, rgba(7,79,115,1) 100%);
    background: -ms-linear-gradient(left, rgba(6,163,211,1) 0%, rgba(6,163,211,1) 14%, rgba(7,79,115,1) 100%);
    background: linear-gradient(to right, rgba(6,163,211,1) 0%, rgba(6,163,211,1) 14%, rgba(7,79,115,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06a3d3', endColorstr='#074f73', GradientType=1 );
    transform: perspective(600px) rotateY(180deg);
}
.back-content{
    color: #2c3e50;
    text-align: center;
    width: 100%;
}
.sm{
    margin-left: 151px;
}
.sm a{
    display: block;
    text-align: right;
    color: #ffffff;
    font-size: 18px;
    transition: 0.4s;
    margin-left: 30px;
}
.sm a i{
    display: inline-block !important;
    margin-right: 10px;
}
.sm a:hover{
    color: #06A3D3;
}
.card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
        transform: perspective(600px) rotateY(0deg);
}
/*CARD*/
/*SOLUCIONES*/
.serv2{
    height: 1200px !important;
}
#cs1{
    margin-left: 270px;
}
/*SERVICIOS*/
.exito{
    background: #d5daeb;
    margin-bottom: 50px;
}
.t_exito{
    margin: 30px 30px;
}
.exito img{
    width: 500px;
    heigth: 700px;
    display: inline-block;
}
.exito p{
    display: inline-block;
    vertical-align: top;
    margin: 90px 0px 0px 90px;
    width: 500px;
}
.exito a{
   text-decoration: none; 
   font-size: 1.5em;
   color: #06A3D3;
}
.exito a:hover{
   color: #074f73;
}
/*GALERIA*/

/*BLOG*/

.banner-blog{
    width: 100%;
    height: 200px;
   background: #3161a3; 
}
.banner-blog img{
    margin-top: 25px;
    margin: 25px 50px 0px 0px;
    width: 250px;
    height: 150px;
    float: right;
}
.banner-blog h2{
    color: #ffffff;
    display: inline-block;
    vertical-align: top;
    margin: 70px 0px 0px 70px;
    font-family: oranienbaum;
    font-size: 3em;
}
.sec-1-blog img{
   width: 700px;
   height: 450px;
   display: inline-block;
   margin-bottom: 50px;
}
.sec-1-blog {
    position: relative;
    display: inline-block;

}
.text-encima{
    position: absolute;
    color: #ffffff;
    top: 300px;
    left: 30px;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    width: 645px;
}
.text-encima a{
    text-decoration: none;
    font-size: 25px;
    float: right;
    color: #06A3D3;
    margin-top: 10px;
}
.text-encima a:hover{
    color: #074f73 ;
}
/*AUTORS*/
.autors{
    vertical-align: top;
    margin: 50px 0px 0px 50px;
    width: 373px;
}
.autors h4{
    font-size: 2em;
    font-family: 'Quicksand', sans-serif;


}.autors h5{
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;

}
.autors div img{
    width: 70px;
    height: 70px;
    margin: 32px 0px 0px 30px;
}
.sec-autors{
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
}
.sec-autors h4{
    margin-left: -65px !important;
    font-family: oranienbaum;

}
.aut_2 div img{
    margin-top: -60px
}
/*AUTORS*/
/*BARRA ALTERAL*/
/*nav, header{
    display: none;
}*/
    .sec-1-blog img, .caj1, .caj2, .caj3, .caj4{
        border-radius: 15px;
        box-shadow: 10px 10px 10px gray;
    }
    .caj1, .caj2, .caj3, .caj4{
        width: 490px;
        height: 300px;
        display: inline-block;
        vertical-align: top;
        margin: 20px 0px 20px 87px;
    }
    .caj1{
        background: url(../img/blog/red.jpg);
        background-size: cover !important;
    }
    .caj1 .text-encima h3, .caj3 .text-encima h3, .caj2 .text-encima h3, .caj4 .text-encima h3{
        margin: 0px 25px 0px 89px;
        font-size: 30px;
    }
    .caj1 .text-encima{
        width: 500px;
        top: 1035px !important;
        left: 45px;
    }
    .caj2{
        background: url(../img/blog/caminoti2.jpg);
        background-size: cover !important;
    }
    .caj2 .text-encima{
        width: 526px;
        top: 1035px !important;
        left: 630px;
    }
    .caj3{
        background: url(../img/blog/ransomware.jpg) !important;
        background-size: cover !important;
    }
    .caj3 .text-encima {
       width: 548px;
       top: 1340px !important;
       left: 45px;
    }
    .caj4{
        background: url(../img/blog/cloud.jpg) !important;
        background-size: cover !important;
    }
    .caj4 .text-encima {
        width: 548px;
        top: 1367px !important;
        left: 629px;
}
    
/*BARRA ALTERAL*/
/*BLOG*/
/*CONTACTO*/
.img-cont{
    width: 1249px;
    height: 700px;
    margin: auto;
    background: url(../img/contact.jpg);
    background-size: cover !important;
    position: relative;
    margin-top: -91px;
    z-index: 5;
    margin-bottom: 50px;
}
.cont-contac fieldset{
margin-top: 50px;
margin-bottom: 30px;
}
form fieldset h1 {
color: #FFFFFF;
font-size: 40px;
font-family: 'Quicksand', sans-serif;
}
form{
width: 90%;
max-width: 650px;
padding: 5px 35px;
margin-top: 30px;
padding-bottom: 30px;
border-radius: 3px;
font-size: 20px;
}
input{
width: 445px;
height: 52px;
color: #3fdb9d;
border-radius: 5px;
background: rgba(0,0,0,.2);
border: none;
outline: none;
border-bottom: 2px solid #3fdb9d;
padding-left: 10px;
font-family: 'Quicksand', sans-serif;
font-size: 20px;
}
textarea{
background: rgba(0,0,0,.2);
border: none;
outline: none;
border-bottom: 2px solid #3fdb9d;
width: 443px;
height:100px;
padding: 12px;
margin-bottom: 20px;border-radius: 10px;
font-size: 14px;
color: #3fdb9d;
font-size: 20px;
}
button{
    width: 77%;
    outline: none;
    background: #3fdb9d;
    font-size: 26px;
    border: none;
    color: #fff;
    padding: 15px 0;
    cursor: pointer; 
    transition: all .5s ease;
    margin-bottom: 20px;border-radius: 10px;
}
button:hover {
    background: #074f73;
}
/*CONTACTO*/
/*LOGIN*/
.img-log{
    width: 1125px;
    height: 541px;
    margin: auto;
    background: url(../img/baner-contacto2.jpg);
    background-size: cover !important;
    position: relative;
    margin-top: -91px;
    z-index: 5;
    margin-bottom: 50px;
}
/*LOGIN*/



